#home-view{
  height: 87vh;
  width: 100vw;
  margin: 0;
}

#chart-btns{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calendar-box{
  display: flex;
  justify-content: center;
}

.graph-btn{
  height: 4rem;
  width: 13rem;
  background-color: deepskyblue;
  border: none;
  border-radius: 45%;
  margin: 50px;
}

.pie-btn{
  height: 4rem;
  width: 13rem;
  background-color: deepskyblue;
  border: none;
  border-radius: 45%;
  margin: 50px;
}