$main-color: #FFFFFF;
$secondary-color: #c1e48e;

$btn-color: #fdcb9b;


#login-container{
  height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  overflow-y: hidden;
}

.entry-text{
  height: 2rem;
  width: 15rem;
  text-align: center;
  margin: 10px;
}

#login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-style{
  height: 3rem;
  width: 8rem;
  border-radius: 30%;
  background-color: rgb(14, 134, 14);
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#register-btn{
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 70px;
}

.register-style{
  height: 3rem;
  width: 8rem;
  border-radius: 50%;
  background-color: orange;
}



.header-logged-out{
  height: 15vh;
  width: 100vw;
}

.logged-out-box{
  height: 15vh;
  width: 100vw;
  font-size: 30px;
}

.logged-out-box h4{
  font-size: 14px;
  margin: 0;
}




// !EditUser

#edit-page{
  height: 100vh;
  width: 100vw;
  background-color: $main-color;
  overflow: hidden;
}

.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-title{
  margin-top: 8;
  margin-bottom: 0;
}

.edit-input{
  margin-top: 0;
}

.update-user{
  height: 30px;
  width: 150px;
  background-color: $btn-color;
  border-radius: 15%;
}


// !Register
.registration-page{
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  overflow-y: hidden;
}

.register-form{
  height: 45vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.reg-btn{
  height: 3em;
  width: 13em;
  border-radius: 30%;
  background-color: $btn-color;
}

.back-to-login{
  height: 3em;
  width: 13em;
  border-radius: 30%;
  background-color: $btn-color;
}


@media screen and (max-width: 408px){
  .registration-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }

  .register-form{
    width: 100vw;
  }

  .reg-login{
    margin-top: 80px;
  }


}